@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
fieldset,img{border:0 none}
dl,ul,ol,menu,li{list-style:none}
blockquote, q{quotes: none}
blockquote:before, blockquote:after,q:before, q:after{content:'';content:none}
input,select,textarea,button{vertical-align:middle}
input::-ms-clear{display:none}
button{border:0 none;background-color:transparent;cursor:pointer}
body{background:#fff}
body,th,td,input,select,textarea,button{font-size:12px;line-height:1.5;font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';color:#333} /* color값은 디자인가이드에 맞게사용 */
a{color:#333;text-decoration:none}
a:active, a:hover{text-decoration:underline}
a:active{background-color:transparent}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}

.wrap{width:1000px;margin:0 auto 100px;padding-top:20px}
.header{overflow:hidden;width:1000px;margin-bottom:30px}
.head_tit{float:left}
.head_tit .title{letter-spacing:1px;font-size:15px;margin-bottom:8px}
.head_tit .sub_tit{display:block;position:relative;padding-left:80px;font-size:11px;line-height:1.3}
.head_tit .deco_line{position:absolute;top:4px;left:0;width:60px;height:1.5px;background-color:#000}
.navigator{float:right}
.navigator a{float:left;padding:0 10px;color:#333}
.navigator a:last-child{padding-right:0}
.navigator span{color:#c8c8c8}

.main{position:relative;margin-bottom:50px;background:tan;background-position:50% 50%;background-size:cover}
.main .deco_text{position:absolute;left:-50px;top:50%;z-index:100;font-size:65px;margin-top:-30px}
.main .deco_text:after{content:'';position:absolute;left:0;bottom:0;width:280px;height:1px;background:#000}
.main .paging{position:absolute;top:50%;right:-30px;margin-top:-55px}
.main .paging .list_page{display:block;overflow:hidden;font-size:0;line-height:0;width:10px;height:10px;margin:10px 0;border-radius:10px;text-indent:-9999px}
.main .paging a{background-color:#dbdbdb}
.main .paging em{background-color:#333}
.slide_main{display:block;height:480px;overflow:hidden}
.list_image li{float:left;width:1000px;height:480px}
.list_image img{display:block;width:100%}

.cont_tit{letter-spacing:10px;font-family:serif;font-size:12px;text-align:center}
.txt_item{display:block;color:#d3d3d3;text-align:center}
.list_study{overflow:hidden;width:100%;margin-top:30px}
.list_study li{position:relative;float:left;width:50%;height:260px}
.list_study li a{-webkit-display:table;display:block;width:100%;height:100%}
.list_study .tit{display:block;font-size:26px;font-family:serif;font-weight:normal}
.list_study .img_pic{width:100%}
.list_study .inner_bg{position:absolute;top:0;left:50%;width:100%;height:100%;margin-left:-50%;color:#fff;text-align:center;z-index:2}
.list_study .info_g{padding-top:80px}
.list_study .inner_bg:after{position:absolute;top:0;left:0;width:100%;height:100%;z-index:-1;background-color:rgba(0,0,0,0.2);content:''}
.list_study .txt_date{font-size:12px}
.list_study .inner_bg:hover:after{position:absolute;top:0;left:0;width:100%;height:100%;z-index:-1;background-color:rgba(0,0,0,0.4);content:''}
